.contacts {
  position: relative;
}

.contacs__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 38px 27px 38px;

  line-height: 30px;
}

.contacts h2 {
  font-size: 18px;
}

.contacs__details {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  padding-top: 25px;
}

.contacs__details__item {
  display: flex;

  &:first-child {
    margin-bottom: 29px;
  }
}

.contacts__label {
  padding-left: 2px;
  margin: 0 31px 0 0;
}

.contacts__value {
  color: @greyish-brown;
  font-style: normal;
  text-decoration: none;
}

.contacts__value--e-mail {
  border-bottom: 1px solid @seafoam-blue;
}

.contacts__button {
  margin: 536px auto 0;
}

@media (max-width: @not-desktop-width) {
  .contacs__iframe {
    position: absolute;
    top: 309px;
    left: 0;
    width: 100%;
    height: 457px;
  }

  .contacs__iframe iframe {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: @tablet-width) {
  .contacs__wrapper {
    width: @tablet-width;
    padding: 60px 45px 58px;
  }

  .contacts h2 {
    font-size: 43px;
    line-height: 50px;
  }

  .contacs__details {
    flex-direction: row;

    margin-top: 49px;
    padding: 0;
  }

  .contacts__label {
    padding-left: 6px;
    margin: 0 23px 0 0;
  }

  .contacs__details__item:first-child {
    margin-right: 48px;
  }

  .contacts__button {
    width: 237px;
    margin-top: 569px;
    font-size: 17px;
  }

  .contacs__iframe {
    top: 305px;
  }
}

@media (min-width: @desktop-width) {
  .contacs__wrapper {
    display: flex;
    justify-content: center;
    width: @desktop-width;
    padding: 69px 50px 106px 219px;
  }

  .contacts h2 {
    font-size: 53px;
    line-height: 57px;
  }

  .contacs__content {
    margin-right: 22px;
    padding: 72px 0 0 0;
  }

  .contacts__label {
    padding-left: 5px;
  }

  .contacs__details {
    flex-direction: column;
    margin-top: 48px;
  }

  .contacts__button {
    margin: 80px 0 0 6px;
    width: 229px;
  }

  .contacs__iframe {
    width: 525px;
    height: 457px;
  }

  .contacs__iframe iframe {
    width: 100%;
    height: 100%;
  }
}
