.page-footer {
  background-color: @smoky-white;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: @mobile-width;
  min-height: 160px;

  margin: 0 auto;
  padding: 21px 0 25px;
}

.page-footer__logo {
  display: none;
}

.social-item__icon {
  fill: #231f20;

  &:hover {
    fill: @greeny-blue-dark;
  }

  &:active {
    opacity: 30%;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin-top: 44px;
  .font(19px, 18px, 700, #000000);
  text-decoration: none;

  &:hover .page-footer__copyright-icon {
    fill: @greeny-blue-dark;
  }

  &:active {
    opacity: 30%;
  }
}

.page-footer__copyright-icon {
  margin-left: 30px;

  fill: @seafoam-blue;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;

    width: @tablet-width;
    min-height: 143px;
    padding: 0 51px;
  }

  .page-footer__logo {
    display: block;

    &:hover {
      fill: @greeny-blue-dark;
    }

    &:active {
      opacity: 30%;
    }
  }

  .page-footer__social {
    margin-left: 80px;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: @desktop-width;
    padding: 0 50px;
  }
}
