.social-list {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: baseline;

  width: 182px;
  .list-reset();
}

@media (max-width: @mobile-width-only) {
  .social-list::after {
    content: "";

    position: absolute;
    top: 58px;
    left: -40px;

    width: 260px;
    height: 1px;
    background-color: @light-gray;
  }
}
