.button {
  display: block;

  max-width: 292px;
  padding: 14px 35px;

  font-family: "Open Sans", "Arial", sans-serif;
  .font(17px, 20px, 700);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background: #ffffff;

  border: 2px solid @greyish-brown;
}
