.page-main__intro {
  padding: 71px 0 76px 13px;

  background-color: @smoky-white;
}

@media (min-width: @tablet-width) {
  .page-main__intro {
    padding: 97px 0 78px 18px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__intro {
    padding: 94px 0 101px 17px;
  }
}
