.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 79px;
  text-align: center;
}

.main-nav__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;

    height: 88px;
  }

  .page-header__logo {
    width: 372px;
  }
}
